.EmployeeContainer {
    margin-top: 10vh;

    h1 {
        text-align: center;
        margin-bottom: 5vh;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
    }

    .CardContainer {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .EmpCard {
            position: relative;
            z-index: 1; /* Set to a positive value */
            border: solid 1px #000;
            overflow: hidden; /* Ensure child elements don't overflow outside of the parent */

            img {
                width: 220px;
                height: 300px;
            }

            .EmpCardInfo {
                position: absolute;
                z-index: 2; /* Ensure this is higher than the .EmpCard */
                background-color: rgba(29, 30, 44, 0.8);
                color: #ffffff;
                width: 100%;
                height: 50px;
                font-family: "Poppins", sans-serif;
                font-weight: 300;
                bottom: 0;
                transition: bottom 0.3s ease; /* Smooth transition */
            }

            .EmpCardInfo:hover {
                height: 100px;
                cursor: pointer;
            }
        }
    }
}
