.HeaderMain{
    background-image: url(../../assets/images/HeaderBg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
    font-family: "Poppins", sans-serif;
    .Logo{
        position: relative;
        left: 25px;
        top: 40px;
    }

}